<div class="grid">
    <div class="col">
        <h1>Grafica de barras</h1>
        <hr>
    </div>
</div>
<div class="grid">    
    <div class="col-10">
        <div style="display: block">
            <canvas baseChart
                    [data]="barChartData"
                    [options]="barChartOptions"              
                    [type]="barChartType">                    
            </canvas>
            <button pButton type="button" icon="pi pi-sync" label="Update" (click)="randomize()"></button>
        </div>
    </div>
</div>
